## Unit Testing with PyTest

In [15]:
import pandas as pd
from Transportation_packages.data import get_fremont_data

def test_fremont_data():
    data=get_fremont_data()
    assert all(data.columns ==['Total', 'East', 'West'])
    assert(isinstance(data.index,pd.DatetimeIndex))

In [16]:
test_fremont_data()

In [22]:
# data=pd.read_csv("Fremont.csv",header=0,index_col="Date",parse_dates=True)
data=pd.read_csv("Fremont.csv",header=0,index_col="Date")
data.head()

                        Fremont Bridge Total  ...  Fremont Bridge West Sidewalk
Date                                          ...
10/03/2012 12:00:00 AM                  13.0  ...                           9.0
10/03/2012 01:00:00 AM                  10.0  ...                           6.0
10/03/2012 02:00:00 AM                   2.0  ...                           1.0
10/03/2012 03:00:00 AM                   5.0  ...                           3.0
10/03/2012 04:00:00 AM                   7.0  ...                           1.0

[5 rows x 3 columns]

In [23]:
type(data.index)

pandas.core.indexes.base.Index

In [24]:
data.index.dtype

dtype('O')

In [25]:
pd.to_datetime(data.index)

DatetimeIndex(['2012-10-03 00:00:00', '2012-10-03 01:00:00',
               '2012-10-03 02:00:00', '2012-10-03 03:00:00',
               '2012-10-03 04:00:00', '2012-10-03 05:00:00',
               '2012-10-03 06:00:00', '2012-10-03 07:00:00',
               '2012-10-03 08:00:00', '2012-10-03 09:00:00',
               ...
               '2020-03-25 04:00:00', '2020-03-25 05:00:00',
               '2020-03-25 06:00:00', '2020-03-25 07:00:00',
               '2020-03-25 08:00:00', '2020-03-25 09:00:00',
               '2020-03-25 10:00:00', '2020-03-25 11:00:00',
               '2020-03-25 12:00:00', '2020-03-25 13:00:00'],
              dtype='datetime64[ns]', name='Date', length=133406, freq=None)

In [31]:
try:
    data.index=pd.to_datetime(data.index,format="%m/%d/%Y %H:%M:%S %p")
except TypeError:
    data.index=pd.to_datetime(data.index)

In [26]:
data.index

Index(['10/03/2012 12:00:00 AM', '10/03/2012 01:00:00 AM',
       '10/03/2012 02:00:00 AM', '10/03/2012 03:00:00 AM',
       '10/03/2012 04:00:00 AM', '10/03/2012 05:00:00 AM',
       '10/03/2012 06:00:00 AM', '10/03/2012 07:00:00 AM',
       '10/03/2012 08:00:00 AM', '10/03/2012 09:00:00 AM',
       ...
       '03/25/2020 04:00:00 AM', '03/25/2020 05:00:00 AM',
       '03/25/2020 06:00:00 AM', '03/25/2020 07:00:00 AM',
       '03/25/2020 08:00:00 AM', '03/25/2020 09:00:00 AM',
       '03/25/2020 10:00:00 AM', '03/25/2020 11:00:00 AM',
       '03/25/2020 12:00:00 PM', '03/25/2020 01:00:00 PM'],
      dtype='object', name='Date', length=133406)

In [ ]:
data.columns=["Total","East","West"]